.App {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  padding: 2em;
  background: #F5F5F5;
  position: relative;
}

.App-header {
  width: 100%;
  max-width: 600px;
}

.App-link {
  color: #395df3;
}

.App-time-list {
  display: grid;
  grid-gap: 1em;
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

.App-actions {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2em;
}

.Primary-button {
  cursor: pointer;
  padding: 0.75em 2em;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-size: 0.925em;
  background: #51af45;
  color: #FFFFFF;
}
